@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', 'Courier New';
    margin:0;
}

.header{
    background-color: #1F2937;
    display: flex;
    padding: 20px 200px;
    flex-direction: column;
}

.header_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.logo{
    font-size:24px;
    color: #f9faf8;
    font-weight: 900;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

ul, .header_hero-description{
    color: #E5E7EB;
    font-size: 18px;
}

.header_hero{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: stretch;
    padding-bottom: 120px;
    padding-left: 200px;
    padding-right: 200px;
}

.header_hero-left, .header_hero-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.header_hero-right{
    background-image: url("https://media.tenor.com/YxQCMgNqEWEAAAAM/drooling-drool.gif");
    background-size: cover;
    background-position: center bottom;
    background-repeat:no-repeat;
}

.header_hero-text{
    font-size:48px;
    color:#f9faf8;
    font-weight: 900;
}

.header_sign-up{
    border: 0px;
    font-size: 18px;
    border-radius: 9px;
    font-weight: 900;
    padding: 5px 30px;
    background-color: #3882f6;
    color:#f9faf8;
    flex-shrink:0;
    width: 130px;
}



.information{
    padding:50px 200px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.information_title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information-content{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.information-image_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 130px;
}

.information-image_wrapper img{
    border-color: #3882f6;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    height: 130px;
    width: 100%;
}

.information-text{
    font-size: 12px;
    text-align: center;
    color:#787f88;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:120px;
    padding-bottom: 90px;
}

.quote-text{
    flex-shrink: 0;
    width:800px;
    color:#1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-attribute{
    color:#1F2937;
    font-size: 25px;
    font-weight: 900;
    padding-left:500px;
    text-align: right;
}

.call_to_action{
    margin: 90px;
    border-radius: 8px;
    height: 120px;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.call_to_action-left{
    color:#E5E7EB;
    display: flex;
    flex-direction: column;
}

.call_to_action-title{
    font-weight: 900;
    font-size: 25px;
}

.call_to_action-sign_up{
    border-style: solid;
    border-color:#E5E7EB;
    border-width: 2px;
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: 900;
    font-size: 15px;
    padding: 8px 30px;
    border-radius: 5px;
}

.footer{
    background-color: #1F2937;
    color:#E5E7EB;
    text-align: center;
    padding:40px;
}